/.idea/
/[Oo]bj/
/[Tt]emp/
/[Bb]uilds/
/[Bb]uild/
/[Ll]ibrary
/Assets/AssetStoreTools*

/.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

*.pidb.meta
sysinfo.txt
*.apk
*.unitypackage
